

.paymentForm{
    margin-top: 250px;
    display:flex;
    justify-content: flex-end;
    align-items:end;
    background-image: none;


}

.payment_button{
    margin-top: 25px;
    background-color: #424353;
    color: white;


}

