.homepage-container{
   
    text-align: center;
    
    
    display: flex;
    align-items: center;
}


.homepage-container h1{
    font-size: 50px;
    text-emphasis: rgb(155, 102, 102);
    text-align: center;

    


}

homepage-container header{

display: flex;
justify-content: flex-start;
align-items: center;
padding: 100px 0px 0px 0px;


}

